
<hr />
<div class="container m-3 text-center">
    <h1>
        Editar Tareas
    </h1>
</div>
<hr class="mb-4" />

<div class="container">
    <div class="">
    <form action="/actualizar/{{ result._id }}" method="post" class="row g-3 needs-validation m-4">
        <div class="col-md-4">
        <label for="titulo" class="form-label">Título</label>
        <input
            type="text"
            class="form-control"
            id="titulo"
            name="titulo"
            value= "{{ result.titulo }}"
            required
        />
        <div class="valid-feedback">
            Looks good!
        </div>
        </div>
        <div class="col-md-4">
        <label for="autor" class="form-label">Autor</label>
        <input
            type="text"
            class="form-control"
            id="autor"
            name="autor"
            value="{{ result.autor }}"
            required
        />
        <div class="valid-feedback">
            Looks good!
        </div>
        </div>
        <div class="col-md-6">
        <label for="descripcion" class="form-label">Descripcion</label>
        <textarea
            type="text"
            class="form-control"
            id="descripcion"
            name="descripcion"
            required
        />{{ result.descripcion }}</textarea>
        <div class="invalid-feedback">
            Please provide a valid city.
        </div>
        </div>
        <div class="col-md-3">
        <label for="nivel" class="form-label">Nivel</label>
        <select class="form-select" id="nivel" name="nivel" required>
            <option selected disabled value="{{ result.nivel }}">"{{ result.nivel }}"</option>
            <option>No importante</option>
            <option>Importancia Media</option>
            <option>Urgente</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
        </div>
        <div class="w-50 text-center m-4">
        <button class="btn btn-primary" type="submit">Guardar Tarea</button>
        </div>
        </form>
    </div>
</div>